<main class="container d-flex align-items-center justify-content-center vh-100">
    <div class="row">
        <div class="col-12 flex-column">
            <div class="card card-body shadow p-3 bg-white rounded-lg">
                <div class="align-items-center justify-content-center m-5">
                    <h1 class="h1 m-0">CryptoCoins</h1>
                    <h6 class="h6 m-0 text-end">Info</h6>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <nav>
                        <button class="btn btn-primary btn-block m-5 rounded-pill" routerLink="/home" routerLinkActive="active"
                            ariaCurrentWhenActive="page">Ingresar</button>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</main>
<router-outlet></router-outlet>