<main class="container d-flex align-items-center justify-content-center">
    <div class="row">
        <div class="col-12 p-2">

            <div class="card card-body form-group p-2 mt-3 shadow p-3 bg-white rounded-lg">
                <h1 class="h1 container ps-3 text-center">Available coins</h1>
            </div>
            <br>
            <div class="card card-body form-group ps-3 text-center shadow p-3 bg-white rounded-lg">
                <div class="m-3">
                    <input type="text" class="form-control text-dark border-2 m-0 text-center
                shadow p-3 bg-white rounded-lg" (keyup)="searchCoin()" [(ngModel)]="searchText"
                        placeholder="Search CryptoCoin..." />
                </div>

                <span class="m-3">
                    <div *ngFor="let coin of filteredCoins" class="card card-body form-group btn-success btn-block m-3 text-center
                shadow p-3 bg-white rounded-lg" [routerLink]="['/','coin',coin?.id]" routerLinkActive="active"
                        ariaCurrentWhenActive="page">
                        <div class="h2 text-dark">
                            <h2>
                                {{coin.name}}
                            </h2>
                        </div>
                        <div class="h4 text-dark">
                            {{coin.id}}
                        </div>
                    </div>
                </span>
            </div>
        </div>
    </div>
</main>
<router-outlet></router-outlet>